{% extends 'base.html' %}
{% load static %}
{% block title %}Account{% endblock %}
{% block content %}
<header class="page-header">
    <h1>{{user.username}}</h1>
</header>
<article>
    <ul class="user-stats grid">
        <li><span class="stat">{{num_gen}}</span><p><a href="{% url 'my_genres_list' page=1 num=10 %}">genres</a></p></li>
        <li><span class="stat">{{num_vars}}</span><p><a href="{% url 'my_variety_list' page=1 num=10 %}">varieties</a></p></li>
        <li><span class="stat">{{num_orchids}}</span><p><a href="{% url 'orchids_list' page=1 num=10 %}">orchids</a></p></li>
    </ul>
</article>
{% endblock %}