{% extends 'base.html' %}
{% load static %}
{% block title %}{{genre.genre}}{% endblock %}
{% block content %}
<header class="page-header">
    <h1>{{genre.genre}}</h1>
</header>
<article>
    <div class="flex-space-between">
        <div class="detail-right">
            <div class="detail-photo-wrapper">
            {% if genre.image %}
                <img src="{{genre.image.url}}">
            {% else %}
                <img src="{% static 'img/not_found.png' %}">
            {% endif %}
            </div>
        </div>
        <div class="detail-left">
            <div class="detail-link-wrapper">
                <ul class="actions">
                    <li><img src="{% static 'img/edit.svg' %}"><a href="{% url 'edit_genre' pk=genre.genre%}">Edit</a></li>
                    <li><img src="{% static 'img/delete.svg' %}"><a href="{% url 'delete_genre' pk=genre.genre%}">Delete</a></li>
                </ul>
            </div>
            <ul class="info">
                <li>Description: <span class="info-data">{{genre.description}}</span></li>
                <li>Winter temperatures: <span class="info-data">{{genre.winter_range}}</span></li>
                <li>Summer temperatures: <span class="info-data">{{genre.summer_range}}</span></li>
                <li>Light: <span class="info-data">{{genre.light}}</span></li>
                <li>Humidity: <span class="info-data">{{genre.humidity}}%</span></li>
                <li>Blooming: <span class="info-data">{{genre.bloom}}</span></li>
                <li>Ground: <span class="info-data">{{genre.ground}}</span></li>
            </ul>
            <ul class="page-links">
                <li><a href="{% url 'genres_list' page=1 num=10%}" class="underline">Genres list</a></li>
                <li><a href="{% url 'variety_list_f_genre' page=1 num=10 genre=genre.genre %}" class="underline">All {{genre.genre}} varieties</a></li>
                <li><a href="{% url 'my_variety_list_f_genre' page=1 num=10 genre=genre.genre %}" class="underline">My {{genre.genre}} varieties</a></li>
            </ul>
        </div>
    </div>
</article>
{% endblock %}