{% extends 'base.html' %}
{% load static %}
{% block title %}{% if my %}My {% endif %}{{title|capfirst}}: {{page_obj.number}}{% endblock %}
{% block content %}
<header class="page-header">
    <h1>{% if my %}My {% endif %}{{title}}: page {{page_obj.number}}</h1>
</header>
<article>
{% if missing %}
    <p>You have no {{title}} yet</p>
{% else %}
    <ul class="gallery grid">
    {% for item in page_obj %}
        <li class="flex-column-center">
        {% if item.image %}
            <img src="{{item.image.url}}">
        {% else %}
            <img src="{% static 'img/not_found.png' %}">
        {% endif %}
            <a href="{{item.get_absolute_url}}">{{item}}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}
<div class="add-container flex-column-center">
    <a href="{% url add_url %}">+</a>
</div>
</article>
<footer>
    <ul class="pages">
    {% for page in page_obj.page_range %}
        <li><a href="{% url redir page=page num=10 %}">{{page}}</a></li>
    {% endfor %}
    </ul>
</footer>
{% endblock %}