{% extends 'base.html' %}
{% load static %}
{% block title %}Research{% endblock %}
{% block content %}
<header>
    <h1>Research</h1>
</header>
<article>
    <form method="POST">
        {% csrf_token %}
        <ul>
            {{form.as_ul}}
        </ul>
        <button type="submit">Search</button>
    </form>
    {% if results %}
    <ul class="gallery grid">
    {% for item in results %}
        <li class="flex-column-center">
        {% if item.image %}
            <img src="{{item.image.url}}">
        {% else %}
            <img src="{% static 'img/not_found.png' %}">
        {% endif %}
            <a href="{{item.get_absolute_url}}">{{item}}</a>
        </li>
    {% endfor %}
    </ul>
    {% else %}
    <p>The research produced no results</p>
    {% endif %}
</article>
{% endblock %}